/***************************
	Blog Content Styling
****************************/

.blogImage {
    padding-top: 24rem;
    /* background-image: url(http://localhost:7000/images/blogs/2020-12-26.png); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogImage.large {
    padding-top: 34rem;
    background-size: contain;
}

@media screen and (min-width: 700px) {
    .blogImage.large {
        background-size: contain;
    }
}

/***************************
	Player Detail Styling
****************************/

.playerDetailContainer {
    max-width: 500px;
    margin: .72rem auto;
}

.playerDetailImage {
    display: block;
    margin: 1.2rem auto;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.playerDetailGameLogo {
    width: 60px;
    border-radius: 1rem;
    object-fit: cover;
    display: inline-block;
    margin: 0 .4rem 1rem 0;
}

.playerDetailDescription {
    line-height: 1.9rem;
}