<% if (blog.content_one) { %>
    <p><%= blog.content_one %></p>
<% } %>

<% if (blog.content_two) { %>
    <p><%= blog.content_two %></p>
<% } %>

<% if (blog.contact) { %>
    <p><%= blog.contact %></p>
<% } %>