<% if (blog.content_one) { %>
    <p class="mm-font"><%= blog.content_one %></p>
<% } %>

<% if (blog.content_two) { %>
    <p class="mm-font"><%= blog.content_two %></p>
<% } %>

<% if (blog.contact) { %>
    <p class="mm-font"><%= blog.contact %></p>
<% } %>