    <div class="game-component <%= value.color %>">
      <div class="game-component-img" style="background-image: url(<%= value.game_img %>)">
      </div>
      <div class="game-component-link">
        <a href="<%= value.link %>">
          <%= value.link_title %>
        </a>
      </div>
    </div>