<tr>
    <td></td>
    <td>
        <img src="<%= user.profile_img %>" alt="<%= user.name %>" class="my-profile-image">
    </td>

    <td><%= user.name %></td>

    <td>
        <a href="/players/<%= user.id %>" class="btn btn-outline-primary">
            ဝင်ကြည့်မယ်
        </a>
    </td>

</tr>