<% layout('../template/lapyae') -%>

<div class='blogImage' style='background-image: url(<%= ogImage %>) '>
</div>

<div class="container py-4">
    <h3 class="py-2 mb-4">
        <%= title %>
    </h3>

    <p>
        <%= description %>
    </p>

    <% if (blog) { %>
        <% include ../component/blogComponent %>
        <div class="fb-share-button"  data-href="<%= url %>" data-layout="button_count">
        </div>
    <% } %>

    <a class="btn btn-warning btn-sm my-2 btn-block mr-1" href="/blog"> သတင်းစာမျက်နှာသို့ </a>
    <a class="btn btn-outline-primary my-2 btn-sm btn-block mr-1" href="/"> ပင်မ စာမျက်နှာ သို့ </a>
    
</div>

<!-- Load Facebook SDK for JavaScript -->
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

