<% layout('../template/lapyae') -%>

<div class="container py-3">
    <h4 class="mt-2 mb-5 mm-font">လပြည့် E-Sport | နေ့စဉ်အကြောင်းအရာများ</h4>
    <% blogs.map(blog => { %>
        <% include ../component/blogListComponent %>
    <% })%>
</div>