<% layout('../template/lapyae') -%>

<!-- Lapyae Animation Component -->
<% include ../component/lapyaeAnimationComponent %>
<!-- Lapyae Animation Component Finished -->

<div class="container">

  <!-- Games Componenet -->
  <div class="game-component-container mt-5 ">
    <% games.forEach(function(value){ %>
          <% include ../component/gameComponent %>
      <% }); %>
  </div>
  <!-- Games Componenet End-->
</div>

  <%  if(blog) { %>
    <div class='blogImage large text-center' style='background-image: url(<%= blog.blog_image %>)'>
      <div class="pb-4">
        <a class="btn btn-primary" href="/blog/<%= blog.blog_id %>">Champion အကြောင်း ဖတ်မယ်</a>
      </div>
    </div>
  <% }%>

<div class="container"> 
  <!-- PES Winner Card -->
  <div class="winner-card-container">

    <!-- Game List Title Show -->
    <div class="game-list-title text-center">
      <img src="/images/games/pes.png" alt="PES 2019 Title">
    </div>
    <!-- Game List Title Show End -->
    
    <div id="pes_game_title">
      <table class="table tournament-table-text">
        <% users.forEach(function(user, index){ %>
          <% include ../component/tr %>
        <% }); %>
      </table>
    </div>

  </div>
  <!-- PES Winner Card End -->

  <hr>

</div>
<!-- Content Container End-->

<script>
  $(document).ready( function () {
    // Scroll to Pes Game Title
    $('#pes').click( function () {
      $('html, body').animate({ scrollTop: $('#pes_game_title').offset().top - 50 }, 'slow');
    })

    // Scroll to PUBG Game Title
    $('#pubg').click( function () {
      $('html, body').animate({ scrollTop: $('#pubg_game_title').offset().top - 50 }, 'slow');
    })


  })
</script>

