<% layout('../template/lapyae') -%>

<div class="container pt-3">
  <table id="userList" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ပုံ</th>
            <th>နာမည်</th>
            <th># ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user, index){ %>
        <% include ../component/userTableRow %>
      <% }); %>
    </tbody>
</table>
</div>

<!-- $(document).ready(function() {
} ); -->

<script>
  $(document).ready( function () {
    // Scroll to Pes Game Title
    $('#userList').DataTable({
      pageLength: 100
    });
  })
</script>